// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
  background-color: white;
  border: 0;
}

.post-inner {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  height: 200px;
}

.post-content {
  height: 160px;
  max-height: 160px;
  overflow: hidden;
}

.post-tag {
  line-height: 7px;
  padding: 6px;
  display: inline-block;
  background-color: lightseagreen;
  color: white;
  border-radius: 3px;
  border: lightseagreen 1px solid;
}